<div id='slide'></div>

<%= javascript_tag do %>

$(document).ready( function()
{
  slideView( "<%= @slide.content.html_safe %>" );

  window.setInterval( checkStatus, 10000 );
});



function createElement( type, attr = [] )
{
  var element = document.createElement( type );
  for ( var i = 0; i < attr.length; ++i )
    element.setAttribute( attr[i][0], attr[i][1] );
  return element;
}

function slideView( content )
{
  $('#slide').append( $.parseHTML( content ) );
}

function checkStatus()
{
  location.reload( true );
}
<% end %>
